<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, I’m Zhouming<br />
        too toung too simple,sometimes naive</h1>
        <p>A newly and fresh site</p>
      </header>
      <p>实在是不知道说什么好，但是一句话不说又不行。你说我一个上海的市委书记，怎么突然就被调到北京来了呢？当时我就吟了一首诗，叫“苟利国家生死以，岂因祸福避趋之”</p>
      <ul class="actions">
        <li><a href="#" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/pic10.jpg" alt="" />
    </span>
  </section>
